.card {
	min-width: 250px;
	max-width: 250px;
	margin-right: 20px;
	margin-bottom: 20px;
	padding: 40px 20px;
	
	@include media-screen(tablet) {
		width: 100%;
		max-width: 100%;
	}

	.img-ricle {
		@include media-screen(tablet) {
			width: 200px;
		}
	}
}