.color-font-primary {
	color: $color-primary;
}
.color-font-secondary {
	color: $color-secondary;
}
.color-font-text-primary {
	color: $grey-darken-3;
}
.color-font-text-secondary {
	color: $grey-darken-2;
}
