.color-font-primary {
	color: $color-primary;
}
.color-font-secondary {
	color: $color-secondary;
}
.color-font-text-title {
	color: $grey-darken-4;
}
.color-font-text-primary {
	color: $grey-darken-2;
}
.color-font-text-secondary {
	color: $grey-base;
}

.bg-red {
	background-color: $red-base;
}
.bg-section-grey {
	background-color: $grey-lighten-4;
}
