a {
	text-decoration: none;
}

p {
	line-height: 1.4;
	font-size: 1.1em;
}

.font-bold {
	font-weight: 500;
}
.font-italic {
	font-style: italic;
}
.font-underline {
	text-decoration: underline;
}
.font-size-title-small {
	font-size: 2em;
}
.font-size-title-normal {
	font-size: 2.2em;
}
